@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Instructor
@{
}


<div class="course-author">
    <div class="ca-pic set-bg"
         data-setbg="@Model.Image"></div>
    <p>@Model.Name, <span>@Model.JobTitle</span></p>
</div>